# dependencies
node_modules/

# build outputs
dist/

# TypeScript
*.tsbuildinfo

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example

# cache / temp
.cache/
.temp/
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# editors / IDE
.idea/
.vscode/
